<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>welcome to use weather service, input the city name to start query:</h2>
<h1>Form</h1>
<form action="#" th:action="@{/weather/query}" th:object="${city}" method="post">
    <p>name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" />
</form>
</body>
</html>